@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-background {
  background-size: 5000%;

  -webkit-animation: animation 5s ease infinite;
  -moz-animation: animation 5s ease infinite;
  animation: animation 5s ease infinite;
}

@keyframes animation {
  0%,
  100% {
    background-position: 0% 25%;
  }

  75% {
    background-position: 25% 50%;
  }

  50% {
    background-position: 50% 75%;
  }

  25% {
    background-position: 75% 100%;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}